@font-face {
  font-family: 'Jersey 10';
  src: url('/fonts/Jersey_10/Jersey10-Regular.ttf');
}

*{
  box-sizing: border-box;
  font-family: 'Jersey 10', monospace;
}

:root {

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: #FFFFFF;
  --onBackground: #1D1D1D;
  --surface: #F7F7F7;
  --onSurface: #919191;
  --outline: #C4C4C4;
  --error: #D62424;

  --headlineLarge: 42px;
  --headlineMedium: 36px;
  --headlineSmall: 28px;
  --titleLarge: 24px;
  --titleMedium: 20px;
  --titleSmall: 18px;
  --bodyLarge: 16px;
  --bodyMedium: 14px;
  --bodySmall: 12px;
  --labelLarge: 14px;
  --labelMedium: 12px;
  --labelSmall: 12px;

}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--onSurface);
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--surface);
}
